In [31]:
CSV_PATH = "csvs"
DATA_PATH = "data"

import pandas as pd
import os
from luts import *

In [32]:
dfs = {}
for root, dirs, files in os.walk(CSV_PATH):
    for file in files:
        if file.endswith(".csv"):
            print("Reading", file)

            # populate dictionary keys with the file name, without the "Temperature for " prefix or "csv" suffix
            # add the data as a pandas dataframe
            # and save the comments from the csv file (ie, all rows beginning with #) as a continuous string separated by semicolons
            key = file.replace("Temperature for ", "")
            key = key.replace(".csv", "")
            dfs[key] = {
                "data": pd.read_csv(os.path.join(root, file), comment="#"),
                "comments": [],
            }
            with open(os.path.join(root, file), "r") as f:
                dfs[key]["comments"] = ";".join(
                    [line for line in f if line.startswith("#")]
                )
            # remove all newline and # characters from the comments
            dfs[key]["comments"] = dfs[key]["comments"].replace("\n", "")
            dfs[key]["comments"] = dfs[key]["comments"].replace("#", "")

Reading Temperature for Fairbanks.csv
Reading Temperature for Utqiaġvik (Barrow).csv
Reading Temperature for Juneau (Dzánti K'ihéeni).csv
Reading Temperature for Anchorage (Dgheyaytnu).csv
Reading Temperature for Nome (Sitŋasuaq).csv

In [33]:
dfs["Fairbanks"]

{'data':     date_range season      model    scenario variable  mean   min   max  \
 0    1950_2009    DJF   CRU-TS40  Historical      tas -20.8 -30.0 -12.7
 1    1950_2009    JJA   CRU-TS40  Historical      tas  14.9  11.5  17.6
 2    1950_2009    MAM   CRU-TS40  Historical      tas  -1.2 -15.1  11.8
 3    1950_2009    SON   CRU-TS40  Historical      tas  -3.6 -18.3   8.6
 4    2040_2069    DJF  5modelAvg       rcp45      tas -16.6   NaN   NaN
 ..         ...    ...        ...         ...      ...   ...   ...   ...
 395  2090_2099    SON      CCSM4       rcp60      tas   1.0   NaN   NaN
 396  2090_2099    SON      CCSM4       rcp85      tas   3.6   NaN   NaN
 397  2090_2099    SON  MRI-CGCM3       rcp45      tas  -0.4   NaN   NaN
 398  2090_2099    SON  MRI-CGCM3       rcp60      tas   0.3   NaN   NaN
 399  2090_2099    SON  MRI-CGCM3       rcp85      tas   2.4   NaN   NaN

      median  hi_std  lo_std    q1    q3
 0     -20.5   -17.4   -24.1 -22.8 -18.7
 1      15.2    16.3    13.5  13.8  16.0
 2      -0.8     7.6    -9.9 -10.4   8.2
 3      -3.2     5.3   -12.4 -13.6   6.2
 4       NaN     NaN     NaN   NaN   NaN
 ..      ...     ...     ...   ...   ...
 395     NaN     NaN     NaN   NaN   NaN
 396     NaN     NaN     NaN   NaN   NaN
 397     NaN     NaN     NaN   NaN   NaN
 398     NaN     NaN     NaN   NaN   NaN
 399     NaN     NaN     NaN   NaN   NaN

 [400 rows x 13 columns],
 'comments': ' Location: Fairbanks; View a report for this location at https://earthmaps.io/temperature/point/64.8378/-147.716; tas is the mean annual near-surface air temperature in degrees Celsius for the specified model and scenario; model is the global climate model used to generate the data; scenario is the emissions scenario used to generate the data; mean is the mean of annual means; median is the median of annual means; max is the maximum annual mean; min is the minimum annual mean; q1 is the first quartile of the annual means; q3 is the third quartile of the annual means; hi_std is the mean + standard deviation of annual means; lo_std is the mean - standard deviation of annual means; DJF is December - February; MAM is March - May; JJA is June - August; SON is September - November'}

In [34]:
# for each item in the dictionary, add a Location column and Description column to the dataframe in the dictionary
# populate the place name using the dictionary key and the description using the comments
# then save the dataframe to a csv file in the data directory
for key in dfs:
    dfs[key]["data"]["Location"] = key
    dfs[key]["data"]["Description"] = dfs[key]["comments"]
    dfs[key]["data"].to_csv(
        os.path.join(DATA_PATH, key + " Temperature.csv"), index=False
    )